body {
  height: 100vh !important;
  background-color: #eee !important;
}

// SpidePanel / Channels.js、DirectMessages.js
.menu {
  padding-bottom: 2rem;
}

// Messages / index.js
.messages {
  // height: 440px;
  height: calc(100vh - 315px);
  overflow-y: scroll;
}

.messages__progress {
  // 再減掉進度條高度
  height: calc(100vh - 315px - 29px);
  overflow-y: scroll;
}

// Messages / message.js
.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message__image {
  padding: 1rem;
}

// Messages / messagesForm.js
.message__form {
  position: fixed !important;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  margin-left: 320px !important;
  z-index: 200;
}

// Messages / ProgressBar.js
.progress__bar {
  margin: 0.3rem 0 0 0 !important;
}

// Messages / Typing.js
.user__typing {
  font-style: italic;
  font-weight: bold;
  margin-right: 3px;
}

.typing {
  position: relative;
  width: 5rem;
  height: 2rem;
  padding: 10px;
  margin-left: 5px;
  background-color: #e6e6e6;
  border-radius: 20px;
}

.typing__dot {
  width: 8px;
  height: 8px;
  float: left;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

// ColorPanel / index.js
.colorPicker__label {
  display: inline-block;
  padding: 5px 20px;
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  box-shadow: 0 4px 8px 0 rgba(black, 0.125);
}

.color__container {
  position: relative;
  width: 35px;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
}

.color__square {
  width: 35px;
  height: 35px;
}

.color__overlay {
  width: 85px;
  height: 35px;
  transform: rotate(225deg);
}
